html {
  scroll-padding-top: 97px;
}

.mission {
  padding: 50px 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  margin: 100px 0;
}

.mission__title {
  font-family: "Inter", sans-serif;
  font-size: 55px;
  font-weight: 400;
  line-height: 1.1;
  color: var(--color-primary);
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.mission__italic {
  font-style: italic;
  font-weight: 400;
}
.mission__icon {
  display: inline-flex; /* ведёт себя как слово */
  align-items: baseline; /* выравнивание по линии текста */
  vertical-align: baseline; /* в линию с текстом */
  white-space: nowrap; /* не разрываем */
}
.mission__icon img {
  height: 1em;
  width: auto;
}
.mission__title .mission__icon:first-of-type img {
  width: auto;
  transform: translateY(0.3em);
}

.mission__bold {
  font-weight: 700;
  color: var(--color-primary);
}

.mission__colon {
  font-weight: 400;
}

.br-desktop {
  display: inline;
}

.br-tablet,
.br-mobile {
  display: none;
}

.portfolio {
  font-family: "Inter", sans-serif;
  margin-bottom: 100px;
}
.portfolio .container {
  display: flex;
  flex-direction: column;
}
.section-title {
  font-size: 2.5rem;
}
.section-subtitle {
  margin: 5px 0 25px 0;
  width: 40%;
}
.portfolio__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 15px;
  width: 100%;
}

.portfolio__item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  container-type: inline-size;
}
.portfolio__image {
  width: 100%;
  height: 370px;
  border-radius: 16px;
  margin-bottom: 15px;
  background-size: cover;
  overflow: hidden;
  background-color: var(--color-light);
  transition: transform 0.3s ease;
}
.portfolio__image:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease;
}
.portfolio__details {
  width: 100%;
}
.portfolio__title {
  font-size: 2.5rem;
}
.portfolio__description {
  font-size: 1.125rem;
  margin-top: 5px;
  display: flex;
  gap: 5px;
  align-items: center;
}
.portfolio__load-more {
  margin: 50px auto 0 auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.375rem;
  color: var(--color-primary);
  background-color: rgba(0, 66, 37, 0.35);
  border: 1px solid var(--color-primary);
  border-radius: 10px;
  text-decoration: none;
  height: 44px;
  width: 247px;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  transition: border-radius 0.3s cubic-bezier(0.24, 0.69, 0.33, 0.93);
  cursor: pointer;
}

.portfolio__load-more::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  transform: translateY(100%);
  transition: transform 0.3s cubic-bezier(0.24, 0.69, 0.33, 0.93);
  z-index: 1;
  border-radius: inherit;
}

.portfolio__load-more span {
  position: relative;
  z-index: 2;
}

.portfolio__load-more:hover {
  border: 1px solid var(--color-primary);
  color: rgba(255, 255, 255, 1);
  border-radius: 30px;
}

.portfolio__load-more:hover::before {
  transform: translateY(0);
}

:root {
  --portfolio-arrow: url("/assets/arrow-left.svg");
}

.portfolio__link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-primary);
  line-height: 1.1;
}

.portfolio__link::after {
  content: "";
  width: 12px;
  height: 9px;
  margin-left: 5px;
  background-color: currentColor;

  -webkit-mask-image: var(--portfolio-arrow);
  -webkit-mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;

  mask-image: var(--portfolio-arrow);
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  mask-position: center;
}

.portfolio__link:hover {
  color: var(--color-secondary);
}
.portfolio__link:hover::after {
  transform: translateX(2px);
}

.portfolio__link > span {
  display: none;
}

.prices {
  padding: 43px 0;
  color: var(--color-light);
  background-color: var(--color-primary);
}

.prices .section-subtitle {
  margin-bottom: 72px;
}

.prices__inner {
  display: flex;
}

.prices__decor,
.prices__accordion {
  width: 50%;
}

.prices__header {
  font-size: 2.5rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: var(--color-light);
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  text-align: left;
  transition: all 0.3s ease;
}

.prices__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.prices__item {
  padding-bottom: 25px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(164, 119, 100, 0.35);
}

.prices__panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.2s ease;
  opacity: 0;
}

.prices__panel.is-open {
  max-height: 1000px;
  opacity: 1;
  padding-top: 25px;
}

.prices__icon svg path:first-child,
.prices__icon svg path:nth-child(3),
.prices__icon svg path:last-child {
  fill: #f2eeec;
  transition: fill 0.3s ease;
}

.prices__icon svg path:nth-child(2) {
  fill: #a47764;
  fill-opacity: 0.35;
  transition: fill 0.3s ease, fill-opacity 0.3s ease;
}

.prices__item:not(.is-active)
  .prices__header:hover
  .prices__icon
  svg
  path:first-child,
.prices__item:not(.is-active)
  .prices__header:hover
  .prices__icon
  svg
  path:nth-child(3),
.prices__item:not(.is-active)
  .prices__header:hover
  .prices__icon
  svg
  path:last-child {
  fill: #a47764;
}

.prices__item:not(.is-active)
  .prices__header:hover
  .prices__icon
  svg
  path:nth-child(2) {
  fill: #f2eeec;
  fill-opacity: 1;
}

.prices__item.is-active .prices__icon svg path:first-child,
.prices__item.is-active .prices__icon svg path:nth-child(3),
.prices__item.is-active .prices__icon svg path:last-child {
  fill: #a47764;
}

.prices__item.is-active .prices__icon svg path:nth-child(2) {
  fill: #f2eeec;
  fill-opacity: 1;
}

.prices__item.is-active .prices__icon {
  transform: rotate(180deg);
}

.js-circles circle {
  stroke: rgba(164, 119, 100, 0.5);
  stroke-width: 1px;
  opacity: 1;
  transition: stroke 0.25s ease, stroke-width 0.25s ease;
}

.prices__item:not(.is-active)
  .prices__header:hover
  ~ .js-circles
  circle:nth-child(1) {
  stroke: rgba(164, 119, 100, 1);
  stroke-width: 1px;
}
.prices__item:nth-child(2):not(.is-active)
  .prices__header:hover
  ~ .js-circles
  circle:nth-child(2) {
  stroke: rgba(164, 119, 100, 1);
  stroke-width: 1px;
}
.prices__item:nth-child(3):not(.is-active)
  .prices__header:hover
  ~ .js-circles
  circle:nth-child(3) {
  stroke: rgba(164, 119, 100, 1);
  stroke-width: 1px;
}
.prices__item:nth-child(4):not(.is-active)
  .prices__header:hover
  ~ .js-circles
  circle:nth-child(4) {
  stroke: rgba(164, 119, 100, 1);
  stroke-width: 1px;
}

.prices__item.is-active .js-circles circle:nth-child(1) {
  stroke: rgba(242, 238, 236, 1);
  stroke-width: 3px;
}
.prices__item:nth-child(2).is-active .js-circles circle:nth-child(2) {
  stroke: rgba(242, 238, 236, 1);
  stroke-width: 3px;
}
.prices__item:nth-child(3).is-active .js-circles circle:nth-child(3) {
  stroke: rgba(242, 238, 236, 1);
  stroke-width: 3px;
}
.prices__item:nth-child(4).is-active .js-circles circle:nth-child(4) {
  stroke: rgba(242, 238, 236, 1);
  stroke-width: 3px;
}

.prices__description {
  width: 366px;
  margin-left: auto;
  margin-bottom: 25px;
}

.prices__table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: 20px;
  border-spacing: 0 25px;
}

.prices__table td:first-child {
  text-align: left;
  font-size: 27px;
  padding-right: 49px;
}

.prices__table td:nth-child(2),
.prices__table td:nth-child(3) {
  width: 122px;
  font-size: 18px;
}

.prices__table td:nth-child(2) {
  text-align: left;
}

.prices__table td:nth-child(3) {
  text-align: right;
}
.prices__table tr:first-child td {
  padding-top: 25px;
  padding-bottom: 10px;
  border-top: 1px solid rgba(164, 119, 100, 0.35);
  border-bottom: 1px solid rgba(164, 119, 100, 0.35);
}
.prices__table tr:not(:first-child) td {
  padding-top: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(164, 119, 100, 0.35);
}
.prices__item {
  padding-bottom: 25px;
  margin-bottom: 40px;
  border-bottom: 1px solid var(--color-secondary);
}
.prices__decor {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}
.prices__decor svg {
  width: 380px;
  height: 260px;
  margin-inline: auto;
  padding: 2px;
}
.prices__cta {
  padding-inline: 15px;
  width: fit-content;
  height: 44px;
  display: block;
  text-decoration: none;
  color: var(--color-light);
  font-size: 22px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid var(--color-secondary);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-inline: auto;
}

.prices__table td.is-toggle {
  cursor: pointer;
}

.prices__cell-title {
  display: inline;
}

.prices__cell-details {
  display: none;
  margin-top: 5px;
  color: var(--color-light);
  line-height: 1.1;
  font-size: 1rem;
}

.prices__cell-details.is-open {
  display: block;
}

.prices__table td.is-toggle .prices__cell-title {
  transition: color 0.2s ease;
}

.prices__table td.is-toggle:hover .prices__cell-title,
.prices__table td.is-toggle:focus-visible .prices__cell-title,
.prices__table td.is-toggle[aria-expanded="true"] .prices__cell-title {
  color: var(--color-secondary);
}

.about {
  padding: 56px 0 83px 0;
  background-color: var(--color-primary);
  color: var(--color-light);
}
.about .section-subtitle {
  margin-bottom: 10px;
  width: 503px;
}
.about__content {
  width: 100%;
}
.about__content-inner {
  display: flex;
}
.about__more-wrap,
.about__text-wrap {
  width: 50%;
}
.about__text {
  font-size: 2rem;
  margin-bottom: 37px;
  font-weight: 100;
}
.about__cta {
  padding-inline: 15px;
  width: fit-content;
  height: 44px;
  display: block;
  text-decoration: none;
  color: var(--color-light);
  font-size: 22px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid var(--color-secondary);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  cursor: pointer;
}
.about__more-img {
  width: 100%;
  height: 385px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__more-img img {
  width: 493px;
  height: auto;
}
.about__cta-more {
  padding-inline: 15px;
  width: fit-content;
  height: 44px;
  display: block;
  text-decoration: none;
  color: var(--color-light);
  font-size: 22px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid var(--color-secondary);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 25px;
  cursor: pointer;
  margin-inline: auto;
}
.about__process h3 {
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: 100;
}
.about__process h4 {
  font-size: 2rem;
  margin-block: 15px;
  font-weight: 100;
}
.about__process p {
  font-size: 2rem;
  color: var(--color-secondary);
  font-weight: 100;
}

/* Переменные анимаций */
:root {
  --about-dur: 280ms; /* длительность одного элемента */
  --about-stagger: 140ms; /* задержка между элементами */
  --about-img-dur: 380ms; /* длительность фейда изображения */
}

/* Вспомогательные */
.is-hidden {
  display: none !important;
}
.is-collapsed {
  display: none;
}

/* Вход/выход контента по очереди */
.reveal {
  opacity: 0;
  transform: translateY(8px);
  transition: opacity var(--about-dur) ease, transform var(--about-dur) ease;
  will-change: opacity, transform;
}

.reveal.reveal--in {
  opacity: 1;
  transform: none;
}

/* Фейд изображения */
.about__img-fade {
  opacity: 0.02;
  transition: opacity var(--about-img-dur) ease;
  will-change: opacity;
}
.about__img-fade.is-bright {
  opacity: 1;
}

.faq {
  margin: 100px 0;
}
.faq__inner {
  display: flex;
}
.faq__list {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.faq__item {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(41, 38, 58, 0.35);
  margin-bottom: 5px;
}
.faq__question {
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 1.375rem;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-align: left;
  transition: all 0.3s ease;
}
.faq__decor {
  width: 50%;
  display: flex;
}
.faq__decor svg {
  width: 380px;
  height: 260px;
  margin-inline: auto;
  /* margin-top: 38px; на четыре элемента */
  padding: 2px;
}

.faq__panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.2s ease;
  opacity: 0;
}

.faq__panel.is-open {
  max-height: 1000px;
  opacity: 1;
  padding-top: 10px;
}

.faq__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.faq__icon svg {
  display: block;
}

.faq__item.is-active .faq__icon {
  transform: rotate(180deg);
}

.faq__icon svg path:first-child,
.faq__icon svg path:nth-child(3),
.faq__icon svg path:last-child {
  fill: #03281d;
  transition: fill 0.3s ease;
}

.faq__icon svg path:nth-child(2) {
  fill: #03281d;
  fill-opacity: 0.4;
  transition: fill 0.3s ease, fill-opacity 0.3s ease;
}

.faq__item:not(.is-active) .faq__question:hover .faq__icon svg path:first-child,
.faq__item:not(.is-active)
  .faq__question:hover
  .faq__icon
  svg
  path:nth-child(3),
.faq__item:not(.is-active) .faq__question:hover .faq__icon svg path:last-child {
  fill: #a47764;
}

.faq__item:not(.is-active)
  .faq__question:hover
  .faq__icon
  svg
  path:nth-child(2) {
  fill: #ffffff;
  fill-opacity: 1;
}

.faq__item.is-active .faq__icon svg path:first-child,
.faq__item.is-active .faq__icon svg path:nth-child(3),
.faq__item.is-active .faq__icon svg path:last-child {
  fill: #a47764;
}

.faq__item.is-active .faq__icon svg path:nth-child(2) {
  fill: #ffffff;
  fill-opacity: 1;
}

.faq__decor circle {
  stroke: rgba(3, 40, 29, 0.2);
  stroke-width: 1px;
  opacity: 1;
  transition: stroke 0.25s ease, stroke-width 0.25s ease;
}

.faq__item:first-child .faq__question:hover ~ .faq__decor circle:nth-child(1),
.faq__item:nth-child(2) .faq__question:hover ~ .faq__decor circle:nth-child(2),
.faq__item:nth-child(3) .faq__question:hover ~ .faq__decor circle:nth-child(3),
.faq__item:nth-child(4) .faq__question:hover ~ .faq__decor circle:nth-child(4),
.faq__item:nth-child(5) .faq__question:hover ~ .faq__decor circle:nth-child(5) {
  stroke: rgba(3, 40, 29, 1);
  stroke-width: 1px;
}

.faq__item:first-child.is-active ~ .faq__decor circle:nth-child(1),
.faq__item:nth-child(2).is-active ~ .faq__decor circle:nth-child(2),
.faq__item:nth-child(3).is-active ~ .faq__decor circle:nth-child(3),
.faq__item:nth-child(4).is-active ~ .faq__decor circle:nth-child(4),
.faq__item:nth-child(5).is-active ~ .faq__decor circle:nth-child(5) {
  stroke: rgba(164, 119, 100, 1);
  stroke-width: 3px;
}

/* header.header--default {
  background-color: #ffffff;
  border-bottom: 1px solid #a47764;
}
header.header--default,
header.header--default a,
header.header--default button {
  color: #03281d;
}
header.header--default svg path {
  fill: #03281d;
} */

header.header--hero {
  background-color: rgba(255, 255, 255, 0.25);
  border-bottom: none;
}
header.header--hero,
header.header--hero a,
header.header--hero button {
  color: #03281d;
}
header.header--hero svg path {
  fill: #03281d;
}

header.header--prices {
  background-color: #03281d;
  /* border-bottom: 1px solid #a47764; */
}
header.header--prices,
header.header--prices a,
header.header--prices button {
  color: #f2eeec;
}
header.header--prices svg path {
  fill: #f2eeec;
}

.prices__cta,
.about__cta,
.about__cta-more {
  position: relative;
  overflow: hidden;
  transition: border-radius 0.3s cubic-bezier(0.24, 0.69, 0.33, 0.93);
}

.prices__cta::before,
.about__cta::before,
.about__cta-more::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(164, 119, 100, 1);
  transform: translateY(100%);
  transition: transform 0.3s cubic-bezier(0.24, 0.69, 0.33, 0.93);
  z-index: 1;
  border-radius: inherit;
}

.prices__cta span,
.about__cta span,
.about__cta-more span {
  position: relative;
  z-index: 2;
}

.prices__cta:hover,
.about__cta:hover,
.about__cta-more:hover {
  border-radius: 30px;
}

.prices__cta:hover::before,
.about__cta:hover::before,
.about__cta-more:hover::before {
  transform: translateY(0);
}

.cookie-notice {
  position: fixed;
  right: 50px;
  bottom: 10px;
  width: 562px;
  padding: 10px 50px;
  background: rgba(0, 66, 37, 0.2);
  backdrop-filter: blur(20.6px);
  border-radius: 20px;
  z-index: 1000;
  transition: all 0.3s ease;
}

.cookie-notice[hidden] {
  display: none;
}

.cookie-notice__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cookie-notice__text {
  margin: 0;
  font-size: 16px;
  line-height: 1.1;
  color: #03281d;
}

.cookie-notice__buttons {
  display: flex;
  gap: 64px;
  align-items: left;
}

.cookie-notice__accept {
  padding: 0;
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.2s ease;
}

.cookie-notice__accept:hover {
  color: #a47764;
}

.cookie-notice__more {
  cursor: pointer;
  transition: color 0.2s ease;
}

.cookie-notice__more:hover {
  color: #a47764;
}

.portfolio__image {
  position: relative;
}

.portfolio__card[data-state-url="/portfolio/project-1"] .portfolio__image {
  background-image: url("/assets/MD/MD-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  /* background-size: 100% auto; */
}

.portfolio__card[data-state-url="/portfolio/project-1"]
  .portfolio__image
  .image_1 {
  position: absolute;
  top: 9px;
  left: 18px;
  width: 222px;
  height: 59px;
  object-fit: cover;
}

.portfolio__card[data-state-url="/portfolio/project-1"]
  .portfolio__image
  .image_2 {
  position: absolute;
  top: 30px;
  left: 340px;
  width: 49px;
  height: 16px;
  object-fit: cover;
}

.portfolio__card[data-state-url="/portfolio/project-1"]
  .portfolio__image
  .image_3 {
  position: absolute;
  top: 153px;
  left: 18px;
  width: 145px;
  height: 42px;
  object-fit: cover;
}

/* project-2 */
.portfolio__card[data-state-url="/portfolio/project-2"] .portfolio__image {
  background-color: rgba(250, 248, 242, 1);
  overflow: hidden;
}

.portfolio__card[data-state-url="/portfolio/project-2"]
  .portfolio__image
  .image_1 {
  position: absolute;
  top: 26px;
  right: 150px;
  width: 31px;
  height: 9px;
}

.portfolio__card[data-state-url="/portfolio/project-2"]
  .portfolio__image
  .image_2 {
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 266px;
  height: 337px;
  z-index: 2;
}

.portfolio__card[data-state-url="/portfolio/project-2"]
  .portfolio__image
  .image_3 {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  width: 112px;
  height: 224px;
  z-index: 3;
}

.portfolio__card[data-state-url="/portfolio/project-2"]
  .portfolio__image
  .image_4 {
  position: absolute;
  display: flex;
  gap: 5px;
  top: 71px;
  left: 28px;
  width: 100%;
  height: 9px;
}
.image__4-design {
  width: 93px;
  height: 11px;
  object-fit: cover;
}

.portfolio__card[data-state-url="/portfolio/project-2"]
  .portfolio__image
  .image_5 {
  position: absolute;
  top: 27px;
  left: 7px;
  width: 351px;
  height: 33px;
}

.portfolio__card[data-state-url="/portfolio/project-2"]
  .portfolio__image
  .image_6 {
  position: absolute;
  top: 97px;
  left: 27px;
  width: 184px;
  height: 101px;
}

.portfolio__card[data-state-url="/portfolio/project-2"]
  .portfolio__image
  .image_7 {
  position: absolute;
  bottom: 120px;
  left: 152px;
  width: 23px;
  height: 23px;
}

.portfolio__card[data-state-url="/portfolio/project-2"]
  .portfolio__image
  .image_8 {
  position: absolute;
  bottom: 1px;
  left: 27px;
  width: 23px;
  height: 23px;
}

.portfolio__card[data-state-url="/portfolio/project-2"]
  .portfolio__image
  .image_9 {
  position: absolute;
  bottom: 75px;
  left: 165px;
  width: 45px;
  height: 45px;
}

.portfolio__card[data-state-url="/portfolio/project-2"]
  .portfolio__image
  .image_10 {
  position: absolute;
  bottom: 24px;
  left: 52px;
  width: 45px;
  height: 45px;
}

.portfolio__card[data-state-url="/portfolio/project-2"]
  .portfolio__image
  .image_11 {
  position: absolute;
  top: 13px;
  right: 6px;
  width: 86px;
  height: 35px;
}

.portfolio__card[data-state-url="/portfolio/project-2"]
  .portfolio__image
  .image_12 {
  position: absolute;
  top: 27px;
  left: 0px;
  width: 756px;
  height: 470px;
  z-index: 1;
}

/* project-3 */
.portfolio__card[data-state-url="/portfolio/project-3"] .portfolio__image {
  background-image: url("/assets/Uwo/uwo.png");
  background-position: center center;
  background-repeat: no-repeat;
  /* background-size: 100% auto; */
}

.portfolio__card[data-state-url="/portfolio/project-3"]
  .portfolio__image
  .image_1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 24px;
  width: 37px;
  height: 11px;
}

.portfolio__card[data-state-url="/portfolio/project-3"]
  .portfolio__image
  .image_2 {
  position: absolute;
  top: 8px;
  right: 14px;
  width: 248px;
  height: 35px;
}

.portfolio__card[data-state-url="/portfolio/project-3"]
  .portfolio__image
  .image_3 {
  position: absolute;
  bottom: 22px;
  right: 21px;
  width: 85px;
  height: 35px;
}

.portfolio__card[data-state-url="/portfolio/project-3"]
  .portfolio__image
  .image_4 {
  position: absolute;
  top: 14px;
  left: 0px;
  width: 300px;
  height: 51px;
}

.portfolio__card[data-state-url="/portfolio/project-3"]
  .portfolio__image
  .image_5 {
  position: absolute;
  top: 97px;
  left: 18px;
  width: 160px;
  height: 42px;
}

/* project-4 */
.portfolio__card[data-state-url="/portfolio/project-4"] .portfolio__image {
  background-image: url("/assets/Forma/bg-forma.png");
  background-position: center center;
  background-repeat: no-repeat;
  /* background-size: 100% auto; */
  overflow: hidden;
}

.portfolio__card[data-state-url="/portfolio/project-4"]
  .portfolio__image
  .image_1 {
  position: absolute;
  top: 35px;
  right: 29px;
  width: 40px;
  height: 12px;
}

.portfolio__card[data-state-url="/portfolio/project-4"]
  .portfolio__image
  .image_2 {
  position: absolute;
  top: 1px;
  right: 92px;
  width: auto;
  height: calc(100% - 2px);
}

.portfolio__card[data-state-url="/portfolio/project-4"]
  .portfolio__image
  .image_3 {
  position: absolute;
  top: 129px;
  left: 26px;
  width: 263px;
  height: 56px;
}

.portfolio__card[data-state-url="/portfolio/project-4"]
  .portfolio__image
  .image_4 {
  position: absolute;
  bottom: 23px;
  right: 7px;
  width: 86px;
  height: 36px;
}

.portfolio__card[data-state-url="/portfolio/project-4"]
  .portfolio__image
  .image_5 {
  position: absolute;
  top: 25px;
  left: 26px;
  width: 193px;
  height: 63px;
}

.portfolio__card[data-state-url="/portfolio/project-4"]
  .portfolio__image
  .image_6 {
  position: absolute;
  top: 226px;
  left: 26px;
  width: 98px;
  height: 12px;
}

/* project-5 */
.portfolio__card[data-state-url="/portfolio/project-5"] .portfolio__image {
  background-image: url("/assets/AC/bg-ac.png");
  background-position: center center;
  background-repeat: no-repeat;
  /* background-size: 100% auto; */
  overflow: hidden;
}

.portfolio__card[data-state-url="/portfolio/project-5"]
  .portfolio__image
  .image_1 {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: calc(100% - 36px);
  height: calc(100% - 36px);
  border: 0.81px solid rgba(255, 255, 255, 1);
  border-radius: 8.11px;
  background-color: transparent;
}

.portfolio__card[data-state-url="/portfolio/project-5"]
  .portfolio__image
  .image_2 {
  position: absolute;
  top: 50px;
  right: 35px;
  width: 38px;
  height: 11px;
}

.portfolio__card[data-state-url="/portfolio/project-5"]
  .portfolio__image
  .image_3 {
  position: absolute;
  bottom: 42px;
  left: 28px;
  width: 284px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio__card[data-state-url="/portfolio/project-5"]
  .portfolio__image
  .image_4 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 28px;
  width: 254px;
  height: 42px;
}

.portfolio__card[data-state-url="/portfolio/project-5"]
  .portfolio__image
  .image_5 {
  position: absolute;
  bottom: 42px;
  right: 28px;
  width: 85px;
  height: 35px;
}

.portfolio__card[data-state-url="/portfolio/project-5"]
  .portfolio__image
  .image_6 {
  position: absolute;
  top: 40px;
  left: 28px;
  width: 242px;
  height: 32px;
}

.portfolio__card[data-state-url="/portfolio/project-6"] .portfolio__image {
  background-color: rgba(44, 44, 44, 1);
  overflow: hidden;
}

.portfolio__card[data-state-url="/portfolio/project-6"]
  .portfolio__image
  .image_1 {
  position: absolute;
  top: 19px;
  right: 50%;
  transform: translateX(50%);
  width: calc(100% - 74px);
  height: auto;
}
.portfolio__card[data-state-url="/portfolio/project-6"]
  .portfolio__image
  .image_2 {
  position: absolute;
  top: 53px;
  right: 50%;
  transform: translateX(50%);
  width: 29%;
  height: auto;
  z-index: 2;
}
.portfolio__card[data-state-url="/portfolio/project-6"]
  .portfolio__image
  .image_3 {
  position: absolute;
  top: 130px;
  left: 37px;
  width: 82px;
  height: 33px;
  border: 0.5px solid rgba(240, 233, 223, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.portfolio__card[data-state-url="/portfolio/project-6"]
  .portfolio__image
  .image_3
  img {
  width: 42px;
  height: 13px;
}
.portfolio__card[data-state-url="/portfolio/project-6"]
  .portfolio__image
  .image_4 {
  position: absolute;
  top: 168px;
  left: 37px;
  width: 134px;
  height: 33px;
  border: 0.5px solid rgba(240, 233, 223, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.portfolio__card[data-state-url="/portfolio/project-6"]
  .portfolio__image
  .image_4
  img {
  width: 108px;
  height: 13px;
}
.portfolio__card[data-state-url="/portfolio/project-6"]
  .portfolio__image
  .image_5 {
  position: absolute;
  top: 206px;
  left: 37px;
  width: 144px;
  height: 33px;
  border: 0.5px solid rgba(240, 233, 223, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.portfolio__card[data-state-url="/portfolio/project-6"]
  .portfolio__image
  .image_5
  img {
  width: 113px;
  height: 13px;
}
.portfolio__card[data-state-url="/portfolio/project-6"]
  .portfolio__image
  .image_6 {
  position: absolute;
  bottom: 30px;
  right: 7px;
  width: 85px;
  height: 35px;
  z-index: 3;
}
.portfolio__card[data-state-url="/portfolio/project-6"]
  .portfolio__image
  .image_7 {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: auto;
  height: 370px;
  object-fit: cover;
  object-position: center;
  z-index: 2;
}
.portfolio__card[data-state-url="/portfolio/project-6"]
  .portfolio__image
  .image_8 {
  position: absolute;
  top: 0;
  right: 37px;
  width: 0.5px;
  height: 100%;
  background-color: rgba(240, 233, 223, 0.5);
  z-index: 1;
}
.portfolio__card[data-state-url="/portfolio/project-6"]
  .portfolio__image
  .image_9 {
  position: absolute;
  top: 0;
  left: 37px;
  width: 0.5px;
  height: 100%;
  background-color: rgba(240, 233, 223, 0.5);
  z-index: 1;
}
.portfolio__card[data-state-url="/portfolio/project-6"]
  .portfolio__image
  .image_10 {
  position: absolute;
  top: 0;
  right: 101px;
  width: 0.5px;
  height: 100%;
  background-color: rgba(240, 233, 223, 0.5);
  z-index: 3;
}
.portfolio__card[data-state-url="/portfolio/project-6"]
  .portfolio__image
  .image_11 {
  position: absolute;
  top: 0;
  right: calc(50% - 13px);
  width: 0.5px;
  height: 100%;
  background-color: rgba(240, 233, 223, 0.5);
  z-index: 3;
}

@container (max-width: 520px) {
  .portfolio__card[data-state-url="/portfolio/project-2"]
    .portfolio__image
    .image_1 {
    top: auto;
    bottom: 26px;
    left: 18px;
  }
  .portfolio__card[data-state-url="/portfolio/project-2"]
    .portfolio__image
    .image_2 {
    width: auto;
    height: 300px;
  }
  .portfolio__card[data-state-url="/portfolio/project-2"]
    .portfolio__image
    .image_6 {
    width: 140px;
    height: auto;
  }
}
@container (max-width: 449px) {
  .portfolio__card[data-state-url="/portfolio/project-1"]
    .portfolio__image
    .image_2 {
    position: absolute;
    top: auto;
    left: auto;
    bottom: 30px;
    right: 30px;
  }

  .portfolio__card[data-state-url="/portfolio/project-1"]
    .portfolio__image
    .image_3 {
    position: absolute;
    top: 70px;
    left: 13px;
  }
  .portfolio__card[data-state-url="/portfolio/project-2"]
    .portfolio__image
    .image_3 {
    bottom: 8px;
    width: auto;
    height: 190px;
  }
  .portfolio__card[data-state-url="/portfolio/project-2"]
    .portfolio__image
    .image_11 {
    top: 180px;
    left: 18px;
    right: auto;
  }
  .portfolio__card[data-state-url="/portfolio/project-2"]
    .portfolio__image
    .image_5 {
    position: absolute;
    top: 27px;
    left: 17px;
    width: 250px;
    height: 33px;
  }
  .portfolio__card[data-state-url="/portfolio/project-2"]
    .portfolio__image
    .image_4 {
    left: 18px;
  }

  .portfolio__card[data-state-url="/portfolio/project-3"]
    .portfolio__image
    .image_1 {
    position: absolute;
    top: 24px;
  }
  .portfolio__card[data-state-url="/portfolio/project-3"]
    .portfolio__image
    .image_2 {
    position: absolute;
    top: 58px;
    right: auto;
    left: 18px;
    width: 248px;
    height: 35px;
  }
  .portfolio__card[data-state-url="/portfolio/project-3"]
    .portfolio__image
    .image_5 {
    top: auto;
    bottom: 12px;
  }
  .portfolio__card[data-state-url="/portfolio/project-5"]
    .portfolio__image
    .image_2 {
    top: 25px;
  }
  .portfolio__card[data-state-url="/portfolio/project-5"]
    .portfolio__image
    .image_4 {
    width: 235px;
  }
  .portfolio__card[data-state-url="/portfolio/project-5"]
    .portfolio__image
    .image_3 {
    bottom: 82px;
    width: 238px;
    padding-inline: 5px;
  }
}
.mission__second {
  padding: 0;
}

.modal {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: grid;
  align-items: center;
  justify-items: center;
  visibility: hidden;
  pointer-events: none;
}

.modal__overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.25s ease;
}

.modal__dialog {
  position: relative;
  max-width: 1280px;
  width: min(90vw, 1280px);
  max-height: 100vh;
  overflow: auto;
  background: #fff;
  border-radius: none;
  padding: 24px;

  opacity: 0;
  transform: translateY(12px);
  transition: opacity 0.25s ease, transform 0.25s ease;
  will-change: opacity, transform;
}

.modal__close {
  position: fixed;
  top: 16px;
  right: calc(16px + var(--sbw, 0px));
  width: 40px;
  height: 40px;
  border-radius: 999px;
  border: none;
  background: #1f1f1f;
  color: #fff;
  cursor: pointer;
  z-index: 1001; /* Должен быть выше всего */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.modal.is-open {
  visibility: visible;
  pointer-events: auto;
}
.modal.is-open .modal__overlay {
  opacity: 1;
}
.modal.is-open .modal__dialog {
  opacity: 1;
  transform: translateY(0);
}

body.modal-open {
  overflow: hidden;
  padding-right: var(--sbw, 0px);
}

.blog {
  font-family: "Inter", sans-serif;
  margin-bottom: 100px;
}

.blog .container {
  display: flex;
  flex-direction: column;
}

.blog__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 15px;
  width: 100%;
}

.blog__item {
  display: flex;
  flex-direction: column;
}

.blog__image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
  background-color: var(--color-light);
  transition: transform 0.3s ease;
  overflow: hidden;
}
.blog__image:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease;
}
.blog__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}
.blog__details {
  width: 100%;
}

.blog__title {
  font-size: 2.5rem;
}

.blog__description {
  font-size: 1.125rem;
  margin-top: 5px;
  width: 500px;
}

:root {
  --cta-popover-w: 422px;
  --cta-popover-h: 166px;
}

#cta-modal.modal--compact.modal--popover .modal__dialog {
  position: fixed;
  width: var(--cta-popover-w);
  height: var(--cta-popover-h);
  border-radius: 60px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(6px);
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.14);
  padding: 0;

  top: calc(var(--anchor-y, 0px) - var(--cta-popover-h) - 20px);
  left: calc(var(--anchor-x, 0px) - var(--cta-popover-w) / 2);

  max-width: calc(100vw - 24px);
}

#cta-modal .cta-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.375rem;
  padding: 14px 0;
  height: 100%;
}
#cta-modal .cta-modal__options {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-items: center;
  margin-inline: auto;
}

#cta-modal .cta-opt:hover path {
  fill: var(--color-secondary);
}
#cta-modal .cta-opt:hover {
  color: var(--color-secondary);
}
#cta-modal .cta-opt svg {
  width: 42px;
  height: 42px;
}

#cta-modal a[href^="tel:"] {
  justify-self: center;
}

#cta-modal .modal__overlay {
  cursor: pointer;
}
#cta-modal .modal__close {
  position: fixed;
  top: 14px;
  right: 45px;
  width: 24px;
  height: 24px;
  background: none;
  color: var(--color-primary);
  cursor: pointer;
  font-size: 1.375rem;
}

/* ширина меньше 1280px */
@media (max-width: 1279px) {
  .mission__title {
    font-size: 2.9rem;
  }
  .portfolio__title {
    font-size: 2rem;
  }
  .prices__title {
    font-size: 2rem;
  }
  .prices__table td:first-child {
    padding-right: 25px;
  }
  .prices__table td:nth-child(2),
  .prices__table td:nth-child(3) {
    width: 110px;
  }
  .about__text {
    font-size: 1.68rem;
  }
  .about__process h3 {
    font-size: 1.68rem;
  }
  .about__process h4 {
    font-size: 1.68rem;
  }
  .about__process p {
    font-size: 1.68rem;
  }
}

/* ширина меньше 1024px */
@media (max-width: 1023px) {
  .mission__title {
    font-size: 1.8rem;
  }
  .portfolio__grid {
    grid-template-columns: 1fr;
  }
  .prices__icon {
    width: 35px;
    height: 35px;
  }
  .prices__title {
    font-size: 1.56rem;
  }
  .prices__item {
    padding-bottom: 10px;
    margin-bottom: 25px;
  }
  .prices__decor {
    padding-top: 0px;
  }
  .prices__decor svg {
    width: 360px;
  }
  .prices__cta {
    margin-top: 25px;
  }
  .prices__table td:first-child {
    font-size: 1.56rem;
  }
  .prices__table td:nth-child(2),
  .prices__table td:nth-child(3) {
    font-size: 1rem;
    width: 90px;
  }
  .about__text {
    font-size: 1.375rem;
  }
  .about__process h3 {
    font-size: 1.375rem;
  }
  .about__process h4 {
    font-size: 1.375rem;
  }
  .about__process p {
    font-size: 1.375rem;
  }
  .mission {
    margin: 50px 0;
  }
  .portfolio {
    margin-bottom: 50px;
  }
  .prices .section-subtitle {
    margin-bottom: 50px;
  }
  .faq {
    margin: 50px 0;
  }
}

/* ширина меньше 768px */
@media (max-width: 767px) {
  .mission__title {
    font-size: 1.5rem;
  }
  .section-subtitle {
    width: 70%;
  }
  .prices__inner {
    flex-direction: column;
    gap: 50px;
  }
  .prices__cta {
    display: none;
  }
  .prices__decor,
  .prices__accordion {
    width: 100%;
  }
  .prices__title {
    font-size: 1.375rem;
  }
  .faq__list,
  .faq__decor {
    width: 100%;
  }
  .faq__inner {
    flex-direction: column-reverse;
    gap: 25px;
  }
  .about__content-inner {
    flex-direction: column-reverse;
    gap: 25px;
  }
  .about .section-subtitle {
    width: 100%;
  }
  .about__more-wrap,
  .about__text-wrap {
    width: 100%;
  }
  .about__more-img {
    width: 100%;
    height: auto;
    padding-bottom: 25px;
  }
}

/* ширина меньше 480px */
@media (max-width: 479px) {
  .portfolio__title {
    font-size: 1.68rem;
  }
  .section-title {
    font-size: 1.68rem;
  }
  .prices__title {
    font-size: 1.25rem;
  }
  .about__text {
    font-size: 1.125rem;
  }
  .about__process h3 {
    font-size: 1.125rem;
  }
  .about__process h4 {
    font-size: 1.125rem;
  }
  .about__process p {
    font-size: 1.125rem;
  }
  .prices__decor svg {
    width: 100%;
    height: auto;
    margin-inline: auto;
    padding: 2px;
  }
}

/* 
@media (max-width: 1024px) {
  .mission {
    padding: 50px 0;
  }

  .mission__title {
    font-size: 40px;
    line-height: 1.1;
  }

  .br-desktop {
    display: none;
  }

  .br-tablet {
    display: inline;
  }

  .br-mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .mission {
    padding: 50px 0;
  }

  .mission__title {
    font-size: 32px;
    line-height: 1.2;
    text-align: left;
  }

  .br-desktop,
  .br-tablet {
    display: none;
  }

  .br-mobile {
    display: inline;
  }
  .cookie-notice {
    right: 20px;
    bottom: 20px;
    width: calc(100vw - 40px);
    max-width: 400px;
    padding: 20px 30px;
  }

  .cookie-notice__content {
    gap: 20px;
  }

  .cookie-notice__buttons {
    flex-direction: column;
    align-items: stretch;
    gap: 12px;
  }

  .cookie-notice__accept {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 360px) {
  .mission {
    padding: 50px 0;
  }

  .mission__title {
    font-size: 22px;
  }
} */

@media (prefers-reduced-motion: reduce) {
  .faq__panel,
  .prices__panel,
  .faq__icon,
  .prices__icon,
  .modal__overlay,
  .modal__dialog {
    transition: none !important;
  }
  :root {
    --about-dur: 1ms;
    --about-stagger: 1ms;
    --about-img-dur: 1ms;
  }
  .reveal {
    transform: none;
  }
}
